@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div class="container">
    <h2>@Umbraco.Field("pagetitle")&nbsp;</h2>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                @Umbraco.Field("bodytext")
            </div>
        </div>
    </div>
</div>