<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT Account ANY>
<!ATTLIST Account id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Inbox ANY>
<!ATTLIST Inbox id ID #REQUIRED>
<!ELEMENT Login ANY>
<!ATTLIST Login id ID #REQUIRED>
<!ELEMENT Welcome ANY>
<!ATTLIST Welcome id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-06T15:21:54" updateDate="2015-09-14T11:01:32" nodeName="HomePage" urlName="homepage" path="-1,1048" isDoc="" nodeType="1047" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1046" nodeTypeAlias="Homepage" isDraft="">
    <About id="1062" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2015-05-08T19:14:02" updateDate="2015-05-28T07:02:37" nodeName="Om DataSync" urlName="om-datasync" path="-1,1048,1062" isDoc="" nodeType="1061" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1060" nodeTypeAlias="About">
      <pageTitle><![CDATA[Om DataSync]]></pageTitle>
      <bodyText><![CDATA[<p>Om Datasync</p>
<p> </p>
<p><strong>Body Text</strong></p>
<div class="controls controls-row" style="padding-top: 5px; margin-left: 180px; color: #343434; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
<div class="ng-scope">
<div class="umb-editor umb-rte ng-scope" style="min-width: 66.5999984741211%;">
<div id="mce_128" class="mce-tinymce mce-container mce-panel" style="border: 1px solid #9e9e9e; margin: 0px; padding: 0px; outline: 0px; vertical-align: top; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; text-shadow: none; float: none; position: relative; width: auto; height: auto; white-space: nowrap; cursor: inherit; -webkit-tap-highlight-color: transparent; line-height: normal; visibility: hidden; border-radius: 2px; zoom: 1; background: linear-gradient(#fdfdfd, #dddddd) repeat-x #f0f0f0;">
<div id="mce_128-body" class="mce-container-body mce-stack-layout" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; cursor: inherit; -webkit-tap-highlight-color: transparent; background: transparent;">
<div id="mce_129" class="mce-toolbar-grp mce-container mce-panel mce-first mce-stack-layout-item" style="border: 0px solid #9e9e9e; margin: 0px; padding: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; cursor: inherit; -webkit-tap-highlight-color: transparent; zoom: 1; background-image: linear-gradient(#fdfdfd, #dddddd); background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: repeat-x;">
<div id="mce_129-body" class="mce-container-body mce-stack-layout" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; cursor: inherit; -webkit-tap-highlight-color: transparent; background: transparent;">
<div id="mce_130" class="mce-container mce-toolbar mce-first mce-last mce-stack-layout-item" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; cursor: inherit; -webkit-tap-highlight-color: transparent; background: transparent;">
<div id="mce_130-body" class="mce-container-body mce-flow-layout" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; white-space: normal; cursor: inherit; -webkit-tap-highlight-color: transparent; background: transparent;">
<div id="mce_131" class="mce-container mce-first mce-flow-layout-item mce-btn-group" style="margin: 2px 0px 2px 2px; border: 0px; padding: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; white-space: nowrap; cursor: inherit; -webkit-tap-highlight-color: transparent; display: inline-block; background: transparent;">
<div id="mce_131-body" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: top; text-shadow: none; float: none; position: static; width: auto; height: auto; cursor: inherit; -webkit-tap-highlight-color: transparent; background: transparent;">
<div id="mce_113" class="mce-widget mce-btn mce-first mce-last" style="border-style: solid; border-width: 1px; border-color: rgba(0, 0, 0, 0.0980392) #c5c5c5 rgba(0, 0, 0, 0.247059); margin: 0px; padding: 0px; outline: 0px; vertical-align: top; color: #333333; text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 1px; float: none; position: relative; width: auto; height: auto; cursor: inherit; -webkit-tap-highlight-color: transparent; zoom: 1; display: inline-block; border-radius: 3px; -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-image: linear-gradient(#ffffff, #d9d9d9); background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: repeat-x;"><button></button></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>]]></bodyText>
    </About>
    <Contact id="1065" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2015-05-09T20:47:43" updateDate="2015-05-09T20:47:43" nodeName="Contact" urlName="contact" path="-1,1048,1065" isDoc="" nodeType="1064" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1063" nodeTypeAlias="Contact">
      <pagetitle><![CDATA[Kontakt os]]></pagetitle>
      <bodyText><![CDATA[<p><strong>Structure IT ApS</strong><br />Marselis Boulevard 175<br />DK-8000 Århus C<br />info@structureit.dk<br />Tlf. +45 36 96 45 43</p>
<p>CVR-nummer: 34 61 49 03</p>]]></bodyText>
    </Contact>
    <Welcome id="1068" parentID="1048" level="2" creatorID="0" sortOrder="2" createDate="2015-05-09T21:01:32" updateDate="2015-05-30T16:14:07" nodeName="Welcome" urlName="welcome" path="-1,1048,1068" isDoc="" nodeType="1067" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1066" nodeTypeAlias="Welcome">
      <pageTitle><![CDATA[Velkommen]]></pageTitle>
      <bodyText><![CDATA[<p>Velkommen til DataSync</p>]]></bodyText>
      <guide1headline><![CDATA[Konto]]></guide1headline>
      <guide1bodytext><![CDATA[<p><span>Øverst i højre side kan du vælge konto. Det er her, du finder dine stamdata, som omfatter login informationer til de systemer, som du har valgt til synkronisering !!!</span></p>]]></guide1bodytext>
      <guide2headline><![CDATA[Inbox]]></guide2headline>
      <guide2bodytext><![CDATA[<p><span>Øverst i højre side kan du vælge inbox. Inbox er beskeder fra DataSync om evt. problemer og løsninger til håndtering af data som synkroniseres </span></p>]]></guide2bodytext>
      <guide3headline><![CDATA[Log af]]></guide3headline>
      <guide3bodytext><![CDATA[<p>Øverst i højre side logger du af. Hvis du lukker vinduet er du stadig logget på, så husk at logge ud.</p>]]></guide3bodytext>
    </Welcome>
    <Account id="1071" parentID="1048" level="2" creatorID="0" sortOrder="3" createDate="2015-05-09T21:15:29" updateDate="2015-05-09T21:15:29" nodeName="Account" urlName="account" path="-1,1048,1071" isDoc="" nodeType="1070" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1069" nodeTypeAlias="Account">
      <pageTitle><![CDATA[Konto]]></pageTitle>
      <bodyText><![CDATA[<p>Her er teksten til konto site</p>]]></bodyText>
    </Account>
    <Inbox id="1074" parentID="1048" level="2" creatorID="0" sortOrder="4" createDate="2015-05-09T21:19:02" updateDate="2015-05-09T21:19:02" nodeName="Inbox" urlName="inbox" path="-1,1048,1074" isDoc="" nodeType="1073" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1072" nodeTypeAlias="Inbox">
      <pageTitle><![CDATA[Inbox]]></pageTitle>
      <bodyText><![CDATA[<p>Her er tekst til inbox</p>]]></bodyText>
    </Inbox>
    <Login id="1079" parentID="1048" level="2" creatorID="0" sortOrder="5" createDate="2015-05-09T21:26:54" updateDate="2015-05-11T15:54:06" nodeName="Login" urlName="login" path="-1,1048,1079" isDoc="" nodeType="1076" creatorName="Søren Brock" writerName="Søren Brock" writerID="0" template="1075" nodeTypeAlias="Login">
      <pagetitle><![CDATA[Log in]]></pagetitle>
      <bodyText><![CDATA[<p>Du bedes venligst logge ind med tilsendte brugernavn og password.</p>]]></bodyText>
    </Login>
    <pageTitle><![CDATA[DataSync - Genvejen til succes]]></pageTitle>
    <bodyText><![CDATA[<p>Velkommen til denne hjemmeside.</p>]]></bodyText>
    <Guide1Headline><![CDATA[Log på]]></Guide1Headline>
    <guide1bodytext><![CDATA[<p><span>Øverst i højre side logger du ind med dit brugernavn og password. </span>Hvis du ikke har dit brugernavn og password eller hvis de ikke virker skal du kontakte Structure IT.</p>]]></guide1bodytext>
  </Homepage>
</root>